<%= form_for(@arquivo) do |f| %>
  <% if @arquivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arquivo.errors.count, "error") %> prohibited this arquivo from being saved:</h2>

      <ul>
      <% @arquivo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :em_uso %><br />
    <%= f.check_box :em_uso %>
  </div>
  <div class="field">
    <%= f.label :carregado_evora %><br />
    <%= f.check_box :carregado_evora %>
  </div>
  <div class="field">
    <%= f.label :data_carregado_evora %><br />
    <%= f.datetime_select :data_carregado_evora %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
