<%= form_for(@arquivo) do |f| %>
  <% if @arquivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@arquivo.errors.count, "error") %> prohibited this arquivo from being saved:</h2>

      <ul>
      <% @arquivo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tipo %>
    <%= f.text_field :tipo %>
  </div>
  <div class="field">
    <%= f.label :em_uso %>
    <%= f.check_box :em_uso %>
  </div>
  <div class="field">
    <%= f.label :carregado_evora %>
    <%= f.check_box :carregado_evora %>
  </div>
  <div class="field">
    <%= f.label :data_carregado_evora %>
    <%= f.datetime_select :data_carregado_evora %>
  </div>
  <div class="field">
    <%= f.file_field :image %>
    <%#= f.label :user %>
    <%#= f.text_field :user %>
  </div>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <div><input name="commit" type="submit" value="Submit" class="btn btn-primary"></div>
    <%#= f.submit %>
  </div>
<% end %>
