<%= form_for(@lpu) do |f| %>
  <% if @lpu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lpu.errors.count, "error") %> prohibited this lpu from being saved:</h2>

      <ul>
      <% @lpu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :provedor %>
    <%= f.text_field :provedor %>
  </div>
  <div class="field">
    <%= f.label :carregado_evora %>
    <%= f.check_box :carregado_evora %>
  </div>
  <div class="field">
    <%= f.label :data_carregado_evora %>
    <%= f.datetime_select :data_carregado_evora %>
  </div>
  <div class="field">
    <%#= f.label :arquivo %>
    <%#= f.text_field :arquivo %>
  </div>
  <%= f.hidden_field :arquivo_id, value: current_user.id %>
  <div class="actions">
    <div><input name="commit" type="submit" value="Submit" class="btn btn-primary"></div>
    <%#= f.submit %>
  </div>
<% end %>
