<h3><i>Arquivos</i></h3>

<p>
  <%= form_tag '/reports', method: 'post' do %>
      <label> Arquivo </label> <%= text_field_tag :file_name_arquivos, params[:file_name_arquivos] %> 
      <label> Usuário </label> <%= text_field_tag :user_name, params[:user_name] %>
      <%= hidden_field_tag :search, "arquivos" %> 
      <div><input name="" type="submit" value="Search" class="btn btn-primary"></div>
   
  <% end %>
</p>

<table class="table table-hover">
  <tr>
    <th>Tipo</th>
    <th>Em uso</th>
    <th>Carregado evora</th>
    <th>Data carregado evora</th>
    <th>User</th>
    <th>File</th>
  </tr>

<% @arquivos_presenter.report_arquivos.each do |arquivo| %> 
  <tr>
    <td><%= arquivo.tipo %></td>
    <td><%= arquivo.em_uso %></td>
    <td><%= arquivo.carregado_evora %></td>
    <td><%= arquivo.data_carregado_evora %></td>
    <td><%= arquivo.user.name %></td>
    <td><%= arquivo.image_url.to_s %></td>
  </tr>
<% end %>
</table>

<hr />

<h3><i>Lpus</i></h3>

<p>
  <%= form_tag '/reports', method: 'post' do %>
      <label> Arquivo </label> <%= text_field_tag :file_name_lpus, params[:file_name_lpus] %> 
      <label> Provedor </label> <%= text_field_tag :provedor_name, params[:provedor_name] %>
      <%= hidden_field_tag :search, "lpus" %> 
      <div><input name="" type="submit" value="Search" class="btn btn-primary"></div>
  <% end %>
</p>

<table class="table table-hover">
  <tr>
    <th>Provedor</th>
    <th>Carregado evora</th>
    <th>Data carregado evora</th>
    <th>Arquivo</th>
  </tr>

<% @lpus_presenter.report_lpus.each do |lpu| %>
  <tr>
    <td><%= lpu.provedor %></td>
    <td><%= lpu.carregado_evora %></td>
    <td><%= lpu.data_carregado_evora %></td>
    <td><%= lpu.arquivo.tipo %></td>
  </tr>
<% end %>
</table>
